body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aqua;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    background-color: rgb(179, 0, 255);

}
 body{
  background-image: url(C:\Users\sousou\Desktop\first_react\public\pic2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
 }
 .my-component{
  margin-left: 20%;
  margin-right: 20%;
 }